.about {

}

.about__wrapper {

}

.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.about__list {

}

.about__item {

}

.about {

}

.about__description {

}
