.examples {

}

.examples__wrapper {

}

.examples__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.examples__list {

}

.examples__item {

}

.examples__caption {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.examples__text {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
}

.examples__description {

}

.examples__result {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.examples__photo {

}

