

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav.show .main-nav__wrapper {
  height: auto;
}

@media (width <= 768px) {
  .main-nav__wrapper {
    position: absolute;
    height: 0;
    background-color: #ffffff;
    overflow: hidden;
  }
}
