.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 38px;
  width: 280px;
  margin: 0 auto;

  @media (width > 768px) {
    min-height: 50px;
    width: 704px;
  }

  @media (width > 1440px) {
    min-height: 59px;
    width: 1220px;
  }
}

.main-header__toggle {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../../icons/stack.svg#Logo_mobile");
  background-repeat: no-repeat;
  background-position: center;

  @media (width > 768px) {
    display: none;
  }
}

@media (width <= 768px) {
  .main-nav.show + .main-header__toggle {
    background-image: url("../../icons/stack.svg#academy_logo");
  }
}


.main-header__logo {

}
