.main-footer {

}

.main-footer__wrapper {
  @media (width >= 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__social {

}

.main-footer__copyright {
  font-size: 16px;
  line-height: 20px;
}
