.main-nav {

}

.main-nav__wrapper {

}

.main-nav__toggle {

}

.main-nav__list {

}

.main-nav__item {

}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item--current {

}
