
.main-nav__toggle {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../../icons/stack.svg#Logo_mobile");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

