.products {

}

.products__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.products__wrapper {

}

.products__list {

}

.products__item {

}

.products__item--more {

}

.products__title {

}

.products__description {

}

.products__weight {

}

.products__key {

}

.products__value {

}

.products__taste {

}

.products__price {

}

.products__button {

}

.products__button {

}
