.programs {

}

.programs__wrapper {

}

.programs__header {

}

.programs__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.programs__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.programs__button {
  background-color: $bc-green;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.programs__list {

}

.programs__item {

}

.programs__item-title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__button-more {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.programs__description {

}
